
<div class="row border">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/M8wipU-EtUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    </div>
    <div class="col-md-4">
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/smRy4SW1SYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    </div>
    <div class="col-md-2">
    </div>
</div>
