<div class="container mt-4">
    <div style="text-align: center">
      <div class="row">
        <div class="col-11 text-left">
          <img [src]="jap" alt="image" width="384" height="216">
        </div>
      </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
          <h3><i class="fa fa-opera"></i></h3>
          <h3>Production</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-truck"></i></h3>
          <h3>Logistics</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-eye"></i></h3>
          <a class="nav-link" [routerLink]="['/qualityhome']"><h3>Quality</h3></a>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-magnet"></i></h3>
          <h3>Engineering</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
          <h3><i class="fa fa-weixin"></i></h3>
          <h3>Sales</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-map"></i></h3>
          <h3>Supply Chain</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-code"></i></h3>
          <h3>IT</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-blind"></i></h3>
          <h3>Finance</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
          <h3><i class="fa fa-id-card"></i></h3>
          <h3>Human Resources</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-building"></i></h3>
          <h3>Maintenance</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-medkit"></i></h3>
          <h3>Safety</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-archive"></i></h3>
          <a class="nav-link" [routerLink]="['/scrum']"><h3>Scrum</h3></a>
      </div>
    </div>
    </div>
  
  </div>
