<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <!--<a class="navbar-brand" routerLink='/' routerLinkActive='active' >Extreme Portal</a>-->
        <a class="navbar-brand" [routerLink]="['/home']" ><img [src]="shibasit" alt="image" height="35" width=""> Shiba Divas' Puppies</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                Puppies<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic"> 
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/puppy']">Available Puppies</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/waitlist']">Waitlist</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/pastpuppy']">Past Puppies</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/videos']">Videos</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/parent']">Parent Page</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/petservices']">Pet Services</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/faqs']">FAQs</a> 
              </li>
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/thedivas']">The Divas</a> 
              </li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                  Shiba Facts<span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/history']">Shiba History</a> 
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/attributes']">Shiba Characteristics</a> 
                </li>
              </ul>
          </div>

            <a class="dropdown-item" [routerLink]="['/faqs']">FAQs</a> 
              <button type="button" class="btn btn-primary" [routerLink]="['/register']">Pet Services</button>
          <!--<button type="button" class="btn btn-primary" [routerLink]="['/petservices']">Pet Services</button>-->
          <!--<button class="btn btn-primary" onclick="window.location.href = 'https://www.shibadivasstore.com';">Pet Supplies</button>-->
        <ul class="navbar-nav mr-auto" >
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active' >Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active' >Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/messages' routerLinkActive='active' >Messages</a>
                </li>
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                    <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
                </li>
            </ng-container>
            <!--<li class="nav-item">
                <a class="nav-link" routerLink='/errors' routerLinkActive='active' >Errors</a>
            </li>-->
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img class="user-image" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink='/member/edit'>Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>

        </form>
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
    </div>
    <!--</div> -->
  </nav>
